body {
  background-color: #808080;
  font-family: 'Oswald', sans-serif;
  font-size: 14px
  color: #FFFFFF;
}

img {
  margin: 1% 2%;
  width: 10%;
  height: auto;
  float: right;
  left: 85%;
  position: fixed;
}

h1 {
  font-weight: 700;
  font-size: 38px;
  margin: 6% 29% 2%;
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
}

hr {
  margin: 1.9% 0 1%;
}

label {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  margin-left: 10%;
  color: #FFFFFF;
}

select {
    align: center;
    width: 50%;
    padding: 10px 0;
    margin-bottom:15px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 15px;
}

textarea {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 2%;
  width: 99%;
  resize: none;
  align-content: center;
}

form {
  color: #FFFFFF;
}

h4 {
  font-style: italic;
}

.button-style {
  width: 30%;
  background-color: #151952;
  color: white;
  padding: 16px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size:22px;
  z-index: 1;
  text-align: center;
  margin-bottom: 2%;
}

#index-title {
  margin-bottom: -1%;
  text-align: center;
}
input[type='checkbox'] {
  width: 2.5em;
  height: 2.5em;
}

#open-doc-box {
  font-size: 8px;
  font-family: 'Oswald', sans-serif;
  margin-left: 10%;
  margin-bottom: 75px;
}

#fileToUpload {
  align: center;
  width: 300px;
  padding: 10px 0;
  margin-left: 10%;
  margin-top: 10px;
  display: inline-block;
  font-size: 15px;
}

#download-template {
  margin-bottom: 4%;
  margin-left: 10%;
  margin-top: .25%;
  display: inline-block;
  font-size: 12px;
  color: #D3D3D3;
  text-decoration: none;
}

#controls-container {
  position: absolute;
  width: 96%;
}

#controls-container > div{
  float: left;
}

#data-select-container{
  margin-top: 2%;
  width: 45%;
  margin-left: 4%;
  padding: 1%;
  margin-bottom: 3%;
}

#formats-container {
  width: 45%;
  height: 310px;
  margin-left: 1%;
  padding: 1%;
}

#formats-container > h4 {
  margin-left: 10%;
  margin-bottom: 20px;
}

#btnGenerate {
  margin-right: 5%;
}

#btnGenerate:hover {
    background-color: #1C316C;
    transition: 0.4s;
}

#btnErrorSearch:hover {
  background-color: #1C316C;
  transition: 0.4s;
}

#header-container {
  text-align: center;
  z-index: 0
}

.menu-container {
  padding-left: 20px;
  padding-top: 20px;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  position: fixed;
}

.bar1, .bar2, .bar3 {
  width: 36px;
  height: 4px;
  background-color: #FFFFFF;
  margin: 6px;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 5px) ;
  transform: rotate(-45deg) translate(-7px, 5px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 30%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  transition: 0.3s;
}

#heading {
  align-items: center;
  font-family: 'Oswald', sans-serif;
}

#data-set-name {
  margin-top: 2.9%;
}

#data-file-name {
  margin: -2% 0;
  font-size: 14px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

 .button-container {
  width: 100%;
  margin-top: 1.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.index-button-container {
  align-content: center;
  align-items: center;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

#btnDownloadCSV {
  margin-bottom: 1%;
  margin-right: 2%;
}

#btnDownloadCSV:hover {
  background-color: #1C316C;
  transition: 0.4s;
}

#btnRestart {
margin-bottom: 1%;
}

#btnRestart:hover {
  background-color: #1C316C;
  transition: 0.4s;
}

#btnSendToSupport {
  margin-bottom: 1%;
  margin-right: 2%;
}

#btnSendToSupport:hover {
  background-color: #1C316C;
  transition: 0.4s;
}

#sub-div {
  align-self: center;
  display: inline-block;
  width: 100%;
}

#spreadsheet {
  margin-top: -2%;
  overflow-y: hidden;
  overflow-x: visible;
  width: 100%;
  color: #000000;
  font-size: 12px;
}

.jexcel_filter {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  width: 100%;
  position: fixed;
}

.jexcel_search {
  padding: 0.5%;
  width: 25%;
  margin-right: 1900px;
}

.jexcel_toolbar{
  position: fixed;
  width: 100%;
  padding: 1%;
  margin-top: 90px;
}

.material-icons {
  margin: auto .5%;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  transition: 0.2s;
  color: #1C316C;
}

.material-icons:nth-of-type(n+4) {
  margin-right: 70px;
}

.jexcel_toolbar_item:hover {
  font-size: 26px;
  transition: 0.2s;
  background-color: #F3F3F3;
}

.material-icons:hover {
  background-color: #F3F3F3;
}

.jexcel_content {
  display: block;
  margin: 130px 0px 0px 0px;
}

#error-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

#error-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 75%;
  color: #000000;
  min-height: 80%;
}

#error-modal-content h2 {
  font-size: 30px;
  margin-bottom: 2%;
  font-weight: 700;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

#error-modal-content h3 {
  font-size: 20px;
  margin: 2% auto;
  font-weight: 500;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

#error-example-img {
  width: 50%;
  margin-right: 25%;
  border-style: solid;
  border-width: thick;
  border-color: #151952;
  margin-bottom: 2%;
  position: static;
}

.close {
  font-size: 30px;
  float: right;
  margin-left: 1%;
  margin-bottom: 1%;
  color: #151952;
}

.close:hover,
.close:focus {
  color: #1C316C;
  transition: 0.4s;
  cursor: pointer;
}

.modal-h2 {
  width: 97.8%;
  align-items: center;
  padding: 1%;
  font-size: 18px;
  border: 1px solid #ddd;
  margin-bottom: 1%;
  font-family: 'Oswald', sans-serif;
}

#error-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-color: #151952;
  min-height: 100%;
  display: none;
}

#error-list li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 1%;
  text-decoration: none;
  font-size: 18px;
  display: block;
  color: #151952;
}

#error-list li a:hover:not(.header) {
  background-color: #eee;
  transition: 0.4s;
}

.information {
  font-size: 30px;
  opacity: 0.5;
  margin-bottom: 1%;
  color: #151952;
}

.information:hover {
    opacity: 1;
    color: #1C316C;
    transition: 0.4s;
    cursor: pointer;
}

.solution {
  display: none;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  padding: 2% .5%;
  color: #FFFFFF;
}

#email-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

#email-modal-content {
  background-color: #fefefe;
  margin: 3% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 75%;
  height: 70%;
  color: #000000;
}

#email-modal-content h2 {
  font-size: 30px;
  margin-bottom: 2%;
  font-weight: 700;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

#email-modal-content p {
  font-size: 18px;
  margin-bottom: 1%;
}

.email-button-container {
  width: 100%;
  justify-content: center;
  display: inline-flex;
  margin-top: 4%;
  margin-bottom: 4%;
}

#btnEmailSupport {
  margin-bottom: 10%;
}
