/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*Sitewide*/

/*Hero*/

/*About Us*/

/*Ways*/

/*Footer*/

/*Media Query*/

	body {
	min-width: 50%;
	max-height: 50%;
	}

	.aboutus img{
			max-width:100%;
      width: 50%;
      display: block;
      margin: 0px auto;
			float: right
  }

	.par {
		padding: 20px;
	}


  .hero {
    background-image: url(back.jpg);
    background-repeat: repeat-x;
    text-align: center;
    color: #01afb1;
  }

  .aboutus {
    color: white;
    background-color: #01afb1;
    width: 100%;
	  display: inline-block;
  }

	.aboutus h2{
		font-family: Arial Black;
		font-weight: 300px;
	}

  .aboutus h4{
    font-family: Helvetica;
    margin: 0px;
    padding-top: 20px;
		text-transform: uppercase;
  }

.ways{
    background-color: #e7e7e7;
    width: 100%;
  }

.ways h3 {
  text-align: center;
font-family: 'Fruktur', sans-serif;
font-weight: lighter;
margin: 0px;
padding: 20px;
}

.ways h4{
  font-weight: bold;
}

.title{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 400%;
  }

  .hero p {
    font-family: Arial;
		padding-bottom: 100px;
  }

.box {
    background-color: #ffffff;
    display: inline-block;
    width: 30%;
    height: auto;
    border-top: 5px solid #01afb1;
    margin-left: 2.5%;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 20px;
}

  .footer {
		padding-top: 10px;
    text-align:center;
  }

  .facebook, .twitter, .instagram {
    display: inline;
  }

  @media only screen and (max-width: 480px) {
		.hero {
    padding: 0px 15px;
	}

		.hero h1.title {
    font-size: 32px;
	}

	.hero p {
	    font-size: 14px;
	}

	.aboutus img {
	    width: 100%;
	}

	.par {
		padding: 10px;
	}

		.box {
  	width:100%;
	}
}
